:root {
  /* Fonts */
  --fontFamily: "Roboto", sans-serif;

  /* Colors */
  --primaryColor: #1075b8;
  --secondaryColor: #06b17e;
  --grayDark: #1f1f1f;
  --white: #fff;
  --black: #000;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* Convert px to rems */
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: var(--fontFamily);
  font-size: 1.5rem;
}

h1 {
  font-family: 3.6rem;
}

h2 {
  font-size: 3.4rem;
}

h3 {
  font-size: 3.2rem;
}

img {
  max-width: 100%;
  display: block;
}

/* Utilities */
.container {
  width: min(95%, 120rem);
  margin-inline: auto;
}

.section {
  margin-top: 5rem;
}

.linear-gradient {
  background-image: linear-gradient(
    to right,
    var(--primaryColor) 0%,
    var(--secondaryColor) 50%
  );
  background-clip: text;
  color: transparent;
}

/* Header */
.header {
  background-color: var(--grayDark);
  color: var(--white);
}

@media (min-width: 768px) {
  .header-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.header-info {
  text-align: center;
  font-size: 1.8rem;
}

@media (min-width: 768px) {
  .header-info {
    text-align: left;
  }
}

.header-p {
  font-size: 3rem;
}

.heading {
  font-size: 5.6rem;
  background-image: linear-gradient(
    to right,
    var(--primaryColor) 0%,
    var(--secondaryColor) 50%
  );
  background-clip: text;
  color: transparent;
  margin-block: 5rem;
}

@media (min-width: 768px) {
  .heading {
    font-size: 10rem;
    margin-block: 2rem;
  }
}

.header-description {
  line-height: 1.5;
}

.header-price span {
  font-size: 6rem;
  margin-bottom: 3rem;
}

/* Product Features */
.product-features {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .product-features {
    flex-direction: row;
    gap: 2rem;
  }
}

.feature {
  text-align: center;
  line-height: 1.5;
}

.feature img {
  width: 5rem;
  margin-inline: auto;
}

.feature h3 {
  text-transform: uppercase;
  font-size: 2.8rem;
}

/* About */
.about {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background-image: linear-gradient(
      to bottom,
      transparent 50%,
      var(--primaryColor) 50%
    ),
    url(../img/imagen-mujer.avif);
  background-repeat: no-repeat;
  background-position:
    center,
    -82rem -2rem;
  padding-block: 3rem;
}

@media (min-width: 768px) {
  .about {
    grid-template-rows: unset;
    grid-template-columns: repeat(2, 1fr);

    background-image: linear-gradient(
        to right,
        var(--primaryColor) 50%,
        transparent 50%
      ),
      url(../img/imagen-mujer.avif);
    background-position:
      center,
      -40rem -20rem;
  }
}

@media (min-width: 768px) {
  .about {
    background-position:
      center,
      33rem -21rem;
  }
}

.about-content {
  color: var(--white);
  grid-row: 2 / -1;
  line-height: 2;
  font-size: 1.8rem;
}

@media (min-width: 768px) {
  .about-content {
    grid-column: 1/ 2;
  }
}

@media (min-width: 768px) {
  .about-content {
    padding: 5rem;
  }
}

/* Products */
